body{
    color: white;
    text-align: center;
    background: url(bg.avif);

}

.btn{
    height: 150px;
    width: 150px;
    border-radius: 10%;
    border: 7px solid rgb(255, 255, 255);
    margin: 2rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}


.red{
    background-color: #d95980;
}

.red:hover{
    transform: scale(1.07);
    transition: all 0.2s ease-out;
}

.yellow{
    background-color: #f9bb45;
}
.yellow:hover{
    transform: scale(1.07);
    transition: all 0.2s ease-out;
}


.green{
    background-color: #63acc0;
}

.green:hover{
    transform: scale(1.07);
    transition: all 0.2s ease-out;
}

.purple{
    background-color: #899ff9;
}

.purple:hover{
    transform: scale(1.07);
    transition: all 0.2s ease-out;
}

.flash{
    background-color: white;
    
}

.userFlash{
    background-color: black;
}