body{
    text-align: center;
}

.btn{
    height: 150px;
    width: 150px;
    border-radius: 10%;
    border: 7px solid black;
    margin: 2rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}


.red{
    background-color: #d95980;
}

.yellow{
    background-color: #f9bb45;
}

.green{
    background-color: #63acc0;
}

.purple{
    background-color: #899ff9;
}

.flash{
    background-color: white;
    
}

.userFlash{
    background-color: black;
}